@page
@model Account.FE.Pages.Accounts.ErrorModel
@{
    ViewData["Title"] = "Account Error";
}

<div style="color:darkmagenta; text-align:center">
    Please chech if <b> Initial Credit </b> is valid number and try again. If the error persists, contact the app administrator.
</div>
